---
title: Oops! Not Found
permalink: 404.html
layout: layouts/default
css: 
  - error-pages
---

<section class="ErrorPage">
    <img class="ErrorPage-Image" src="{{ '/assets/images/404.png' | url }}" alt="">
    <h1>{{ title }}</h1>
    <p>You are lost in outer space. Maybe try to find it from the <a class="Link" href="{{ "/" | url }}">home page?</a>
    </p>
</section>