---
permalink: /hiiruki.asc
layout: null
---
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBGMYkdUBEADC0X1ndeHfLwakyL7ZNZSijiZvwK7Cj0kRGZiDoRIN1xWAr2DE
r47QuLXTa4K1MK6uM95nbD8EtB/2F9CcxfK2LUTGKSQ2fUQcCVO+iyO/njaSqozN
K7E0YJRSgfutecBzLnd479K7g84P80/GuLE1sUC6zNuh0SXFJZYIAr3vKRmWNj4L
KNcbO3lF7QeIevS5nkC3r3MxcmQ4FVrFzs6oz4XduAomEipmzvzPwL0dQfAvJyl1
y98WC37CQYvWf92UmwuqVKRlNZfVwMoN8UCHnyLADxludv5P9Dg4gOkKNTwnXeJT
JwHcHHMO/U88Tee283OMsdWPE3JIEXlgjQYk0HxU1W5+LB7XC/ROnArgwv41Mxf/
rZNNVgkbcQZMczi7M+OBQSnUldTzAQC5KDAbKW5SYo882DJWUBqUmF3LgIqAQkES
jNnYu6+p1HsgwaSn8OYcRByRjaFi4bqJRYFReBOyGHCSL9fEZiP8lteXcwXaixgr
mldhRTRnof1xk7WIA8h9SSuL8aoGZba8UIfjqvCKGGeW4zx8Hm4qOH8v1ZqTk+mL
jPxSTNsdovSku2SjzKdjAaYeTGmVI6fFhYplwfQ1z9Zik0Ul66AmAuqXAd53kJ7q
aHDnLdAONtYgu2Wf+j0AlvBbnBfcItmz0XZ97b0mXUL8sHz09k1L0K2yJQARAQAB
tBhIaWlydWtpIDxoaUBoaWlydWtpLmRldj6JAk4EEwEKADgWIQSupbkn1/DUC/Sz
yfHkDXUhr1iGyAUCYxiR1QIbAwULCQgHAgYVCgkICwIEFgIDAQIeAQIXgAAKCRDk
DXUhr1iGyMsHD/sH+12IcDrxkSr7KMarswnUfzeyafviCXuRkPqXQmt2Zm//7kyW
SGgymIehogjSVVwGwaa8wPArUprhvq90pbgJpKKhcqecOLMUKhwgCoOiVPLv9cg/
Nw9ftTHkeVdf2oKe4pJ9hosCmnbXHbsTIWOhQdU42p41rh3n0UsacbHrEeqmZJ6x
X43DDS4c0cSp6qSfxkZjL7alFfRT6iwoch8EdMRkUdYxpAcoecVYYCNXT8E4es0I
i8KUNglAPhHYsKcCx/w2oHcYd1IgjnN0mv4ueVN1NYXWkjR+9RhiT541b1Ly3YXd
VVANm5f43bs+q+LrUaLl8g/4lBPy35Wg1KdukapkVbw/20NM0C068OH0nLSGQ/MA
TFbOvaEVE+3DmaAvCDNA30nIHubzMqYMRLeY60wq7L5MKgeadevLarplaM+QWup/
Z4Ha+TzOhrx1YHoGb+ZvIXj15N3d+PfLkcavEwwhEqv6eACGzeZuB8PvTbUOPP7H
zxMk5NYn+/kW7z+Knz3aW3XIcNXObGZcWiJWon2n7vRZTA7VGtNVMPWfdLZeuu6c
ZucDTjkE9JJBvFRbGaMae5xw2+WiHyUkyJTUw4t1sxP3+M+JKW0f2r34lzDF/iBz
NljqxNXyZrOnnG050e7CC7CYaz36KEfW5+UD2DEPGB+3eVBC0SlBBK1IjLkCDQRj
GJHVARAAwlqzDSBEaHQ0jQhNQKX2JmuhXAXYb0RaSWSjOVid776CbKRhKkB4lByC
8yfcaWgQpuljtyEHNHqzw26CKrTnrXfGOeiYRzNmTHQgCwBXT7wLOZfgWkmmju+d
lcdcdf7FXX1cvrToUxHTWXYVdwCUQXSu098I12/plD8wqQjnXhaPyA6Fo4HjyGJ1
VOyQmyeMs27yzoo+ZvTXJcqbi2jjHQKAPs/Jms7s6rFlO9X29+7nNwg7J6kduuK/
NuQUBr5wDLolV+0YflSJMp9SjfZ9yF2v2gCyT8+BNGGkBAHHQ+q+JKFO7+tPwYmi
CoOt6XVtelfiqShQ9UA1DTB1EFvUVVFluvIbuPHuR7oPYaZ0FbYlPgl2pr57Xjb7
60OHIjR2Vgei0m6Ou1ZUegTU879ZaR8prtBv2E5yehZOtNejlsCy6cbRYpxwt9yD
8c+OYYk1unKbBqMjRHVsAZ/X9HBAFBTSTfaoaVVj1WFBQDrKgodaRfEeIrpeUqYv
HGqAATKaWpQc9GmtzwNU+/mkQ5iVWML6uCpzLJaxccOZrkDV0BN3wwPVMVzM9HlH
V8l3XQ8xjxS29YlpL2BXaNU9ZswLVqEun2fnjWvljffNoK4CNgW2N9xqAZsCWB9D
IeDFaYd1/27ibmGX5zsGuW7hnZZM6J4HpgErpF3xufBkFwt90YcAEQEAAYkCNgQY
AQoAIBYhBK6luSfX8NQL9LPJ8eQNdSGvWIbIBQJjGJHVAhsMAAoJEOQNdSGvWIbI
KkwP/3diM9teaOvhakLlXC+jEiViiZLmyDkObJF06MNKzrXGaLuXwvwJmc0quivT
GMOyAMY0BjmnAvq0XAawt0UQZVgKwppIhmxu7v88j04vw85kyvjIUVtJQcILHCPf
oHvHiUG/zmL61mbYHSNoqL285IkHSEf6GVHvFnibvI0hIns+5sXtfvi5E8w88ixJ
ll9glTlxJsqI4YySyEe9bMF3wZ7OP68vKsCMjpuFf+hep92Y796aMGDYbaJYAjaF
OPue6Cy5v+W3LaEa7gGwFDH+cWMmIVzSYuftTOqfs2V08z9CzOVoPkr17WunCEO4
etEM9bcgd45yijBSJ6zSWW8uzpTppY3DG3Spm4NYT9yWU5icPi0kJHheE97nx53c
YaXzajTQ6QITk+Rri/Qd2mno/ssdqZdUH0Jix3R8FWRUphi98aK5U3scM6wBgxpY
gtsudQxdmw4nB/tmnQPYymhlnLNtOAG1WVeMDQo7Egro3MZ0sMVuYLXLRVTd00g2
qbgu861bU4GnlR6Q9Lq7eJ06EHD+/Lel0QGkXp+gPUJ19wtiQmcc6GJGz6HsHZyu
6LGno1nZECbHWrhLzgjoHuovStYcVStyUBoFoOP58RiqRsI3zs3XHZhGobYMw1id
N28TVrzr/JaFqxgnULHzxCLccELSjmfgshrPyHPrlpA2+e1H
=GBHe
-----END PGP PUBLIC KEY BLOCK-----
