---
permalink: /humans.txt
layout: null
---


██╗  ██╗██╗██╗██████╗ ██╗   ██╗██╗  ██╗██╗
██║  ██║██║██║██╔══██╗██║   ██║██║ ██╔╝██║
███████║██║██║██████╔╝██║   ██║█████╔╝ ██║
██╔══██║██║██║██╔══██╗██║   ██║██╔═██╗ ██║
██║  ██║██║██║██║  ██║╚██████╔╝██║  ██╗██║
╚═╝  ╚═╝╚═╝╚═╝╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═╝╚═╝
https://hiiruki.dev - Cyber Security and Other Tech Stuff
                                                              
/* TEAM */

Hiiruki
- Site    : https://hiiruki.dev
- Social  : https://xn--fl8hoa89egg.y.at
- GitHub  : https://github.com/hiiruki

/* SITE */

Languages:
- English (EN)

Technologies:
- Standards : HTML, CSS, JavaScript
- Framework : Eleventy
- IDE       : Visual Studio Code, Vim, Nano
- Hosting   : Netlify
- Code      : https://github.com/hiiruki/hiiruki.dev
- OS        : Arch Linux, Windows 10, Kali Linux

/* THANKS */
- Eleventy [https://www.11ty.dev/]
- Netlify [https://www.netlify.com/]
- GitHub [https://github.com/]
- Zach Leatherman [https://www.zachleat.com/]
- Annamalai Saravanan [https://github.com/asvny]
- MDN Web Docs by Mozilla [https://developer.mozilla.org/en-US/]
- WebDev by Google [https://web.dev/]
- w3schools [https://www.w3schools.com/]
- JSFiddle [https://jsfiddle.net/]
- Email Obfuscator [https://www.albionresearch.com/tools/obfuscator]

The humans responsible & technology colophon
[http://humanstxt.org]