<hr class="Separator MarginTop-xxl">
<footer class="Footer">
  <nav>
    <a href="/about" class="Link Footer-Link">About</a>

<!---
    {% for site, link in site.social %}
      <a href="{{link | mailHref }}" class="Link Footer-Link">{{ site }}</a>
    {% endfor %}
-->

    <a href="https://xn--fl8hoa89egg.y.at" class="Link Footer-Link">Links</a>
    <a href="/disclaimer" class="Link Footer-Link">Disclaimer</a>
    <a href="/privacy" class="Link Footer-Link">Privacy</a>
        <a href="/feed.xml" class="Link Footer-Link">RSS</a>
  </nav>
</footer>
<div class="Copyright Flex">
  <p class="Flex--alignCenter"><b>&copy;{{site.currentYear}} <a href="https://github.com/hiiruki"> hiiruki</b></a></p></span>&nbsp;|&nbsp;<span class="license"><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><b>CC BY-NC-SA 4.0</b></a></span>
</div>
<div class="Copyright Flex">
  <p class="Flex--alignCenter">Powered by <a href="https://www.11ty.dev/"><b>11ty</b></a> and <a href="https://www.netlify.com"><b>Netlify</b></a></p>
</div>