<header class="Header Flex Flex--alignCenter Flex--justifyBetween">
   <h1 class="Text--xl">
      <a href="/">
         {{ site.title }}
      </a>
   </h1>
   <div class="Flex Flex--alignCenter">
      <a href="/archive" class="Link Header-Link">Archive</a>
      <a href="/feed.xml" class="Link Header-Link">RSS</a>
      {# Icon adapted from Gatsby narrative theme #}
      <button class="ThemeButton js-theme-btn" aria-label="Activate light mode" title="Activate light mode">
         <div ></div>
         <div ></div>
      </button>
   </div>
</header>